@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 300;
  src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2'),
    url('../fonts/poppins-v24-latin-300.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 400;
  src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2'),
    url('../fonts/poppins-v24-latin-regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 600;
  src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2'),
    url('../fonts/poppins-v24-latin-600.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 900;
  src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2'),
    url('../fonts/poppins-v24-latin-900.woff') format('woff');
}

:root {
  --color-primery-dark: #31261a;
  --color-primery-light: #faf4ea;
  --color-secondary-dark: #a18268;
  --color-brand-normal: #819b57;
  --color-brand-dark: #465929;
  --color-brand-light: #cfcfbc;
}

/* Base */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--color-primery-dark);
  background-color: var(--color-primery-light);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

html {
  scroll-behavior: smooth;
}

a {
  display: inline-block;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
  /* background-color: lightgray; */
}

/* Button */
.button {
  padding: 16px 32px;
  color: var(--color-primery-light);
  font-weight: 600;
  background-color: var(--color-brand-normal);
  border: 2px solid var(--color-brand-normal);
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
}

/* Link */
.link {
  color: var(--color-primery-light);
  text-decoration: none;
}

.link:hover {
  color: var(--color-brand-normal);
  /* text-decoration: underline; */
  /* font-weight: 600; */
}

.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.section-title.centered {
  text-align: center;
}

/* Header */
.header {
  padding-top: 32px;
  background-color: lightgray; /* remove */
}

.header-container {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 32px;
}

.header-nav-list {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}

/* Hero Section */
.hero-section {
  padding: 272px 0;
  background-image: url('../images/hero-section-bg.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  /* background: url(../images/hero-section-bg.jpg) no-repeat center top/cover;  */
}

.hero-title {
  margin-bottom: 0;
  color: var(--color-primery-light);
  /* text-align: center; */
  font-size: 128px;
  font-weight: 900;
}

.hero-title .accent {
  color: var(--color-brand-normal);
}

/* Advantages Section */
.advantages-section {
  padding: 16px 0;
  background-color: var(--color-brand-normal);
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.advantages-item {
  font-size: 20px;
  font-weight: 300;
  color: var(--color-primery-light);
}

.section-title .accent {
  color: var(--color-brand-dark);
}

/* Tradition Section */
.traditions-section {
  padding-top: 96px;
}

.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.traditions-content {
  /* display: flex;
    flex-direction: column; */
  max-width: 710px;
}

.traditions-section-title {
  margin-bottom: 42px;
}

.traditions-text .uppercase {
  text-transform: uppercase;
}

.traditions-text .brand {
  color: var(--color-brand-normal);
  font-weight: 600;
}

.traditions-text.limited-width {
  max-width: 340px;
}

.baker-photo {
  border-radius: 233px 233px 0 0;
}

/* Chefs Section */
.chefs-section-title {
  max-width: 520px;
  margin: 0 auto 80px;
}

.chefs-section-title::before,
.chefs-section-title::after {
  display: block;
  content: '';
  width: 352px;
  border: 2px solid var(--color-brand-light);
}

.chef-photo {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primery-light),
    -16px 16px 0 1px var(--color-secondary-dark);
}

.chefs-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 30px;
}

.chefs-item-container {
  flex-basis: calc((100% - 30px) / 2);
}

.chef-card-container {
  display: flex;
  gap: 30px;
}

.chef-title {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
}

.chef-text p {
  margin-bottom: 24px;
}

.chef-text p:last-child {
  margin-bottom: 0;
}

/* Formats Section */
.formats-section-title {
  margin-bottom: 80px;
}

.formats-container {
  display: flex;
  align-items: center;
  gap: 32px;
}

.formats-list {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  gap: 20px;
}

.formats-item {
  flex-basis: calc((100% - 40px) / 3);
}

.format-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 444px;
  padding: 24px;
  color: var(--color-primery-light);
  background: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--color-primery-dark) 100%
  );
  background-image: url('../images/walrus-format.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid gray; /* remove */
  border-radius: 16px;
}

.format-title {
  font-size: 24px;
  font-weight: 600;
  /* text-align: center; */
}

.format-text {
  font-size: 14px;
  font-weight: 300;
  margin: 0;
}

/* Carousel */
.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  fill: var(--color-primery-dark);
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--color-primery-dark);
  cursor: pointer;
}

.carousel-button:hover {
  fill: var(--color-primery-light);
  background-color: var(--color-primery-dark);
}

.carousel-button.flipped {
  transform: rotate(180deg);
}

/* Contacts Section */
.contact-section {
  padding-bottom: 96px;
}

.contact-section-container {
  display: flex;
  gap: 32px;
}

/* .contact-section-item {
  flex: 1;
  min-width: 0;
} */

.contact-section-map {
  flex-shrink: 0;
  border: 1px solid var(--color-secondary-dark);
  border-radius: 16px;
}

.contacts-section-title {
  margin-bottom: 16px;
}

.contacts-section-subtitle {
  margin-bottom: 42px;
  color: var(--color-brand-dark);
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contact-form-label {
  display: flex;
  width: 100%;
  color: var(--color-secondary-dark);
}

input,
textarea {
  flex: 1;
  font-family: inherit;
  font-size: 16px;
  font-weight: inherit;
  line-height: 1.2;
  /* color: var(--color-secondary-dark); */
  background-color: var(--color-primery-light);
  border: 1px solid var(--color-secondary-dark);
  border-radius: 8px;
  /* flex-basis: 100%; */
  height: 55px;
  padding: 16px 42px;
  margin-bottom: 24px;
}

input::placeholder {
  color: var(--color-secondary-dark);
}

input:hover {
  border: 1px solid var(--color-brand-normal);
}

input:hover::placeholder {
  color: var(--color-primery-dark);
}

.contact-form-button {
  /* max-width: 238px; */
  margin-bottom: 16px;
}

.contact-form-pryvacy {
  font-size: 12px;
}

.contact-form-pryvacy-link {
  text-decoration: underline;
  color: var(--color-primery-dark);
}

/* Footer Section */
.footer {
  padding: 32px 0;
  background-image: url('../images/footer-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--color-primery-dark);
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-nav,
.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-logo {
  /* flex-basis: 50%; */
  flex-grow: 1;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;
}

.footer-nav-link {
  color: var(--color-primery-light);
}

.footer-nav-link:hover {
  color: var(--color-brand-normal);
}

.footer-address {
  justify-content: space-between;
}

.address-list,
.address-copyright {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.address-link {
  color: var(--color-primery-light);
  font-size: 16px;
  font-weight: 300;
}

.address-link:hover {
  color: var(--color-brand-normal);
}

.address-icon-list {
  display: flex;
  justify-content: flex-start;
  /* padding-top: 16px; */
  gap: 22px;
}

.address-icon {
  fill: var(--color-primery-light);
  /* stroke: red; */
}

.address-icon:hover {
  fill: var(--color-brand-normal);
}

.address-copyright {
  color: #a18268;
  font-size: 14px;
}
