@import './utils/fonts';
@import './utils/variables';

/* vendors */

@import './base/base';
@import './base/helpers';
@import './base/typography';

@import './components/buttons';
@import './components/carousel-button';
@import './components/chef-card';
@import './components/form-terms';
@import './components/format-card';
@import './components/input';
@import './components/links';
@import './components/pagination';

@import './layout/section';
@import './layout/container';
@import './layout/advantages-section';
@import './layout/chefs-section';
@import './layout/contact-section';
@import './layout/footer';
@import './layout/formats-section';
@import './layout/header';
@import './layout/hero-section';
@import './layout/mobile-menu';
@import './layout/modal';
@import './layout/tradition-section';

/* pages */

/* themes */

/* Advantages Section */

/* Tradition Section */

/* Chefs Section */

/* Formats Section */

/* Carousel */

/* Contacts Section */
