.advantages-section {
  padding: 40px 0 20px;

  @media screen and (min-width: $bp-tablet) {
    padding: 20px 0;
    background-color: var(--color-brand-normal);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 40px;
    background-color: var(--color-brand-light);
    border-radius: 24px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      justify-content: space-between;
      gap: 32px;
      padding: 0;
      background-color: transparent;
    }
  }

  &__item {
    font-weight: 300;
    color: var(--color-primery-dark);

    @media screen and (min-width: $bp-tablet) {
      font-size: 20px;
      font-weight: 300;
      color: var(--color-primery-light);
    }
  }
}
