.chefs-section {
  &__title {
    position: relative;

    @media screen and (min-width: $bp-desktop) {
      margin-bottom: 80px;

      &::before,
      &::after {
        position: absolute;
        bottom: 24px;
        content: '';
        width: 352px;
        border: 2px solid var(--color-brand-light);
      }

      &::before {
        left: 0;
      }

      &::after {
        right: 0;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 40px 30px;
    }
  }

  &__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
