.contact-section {
  padding-bottom: 96px;

  &__container {
    display: flex;
    gap: 32px;
  }

  &__title {
    margin-bottom: 16px;
  }

  &__subtitle {
    margin-bottom: 42px;
  }

  &__form-field {
    margin-bottom: 24px;
  }

  &__map {
    width: 603px;
    height: 595px;
    flex-shrink: 0;
    border: 1px solid var(--color-secondary-dark);
    border-radius: 16px;
  }

  &__button {
    margin: 0 auto 16px;
  }
}
