.contact-section {
  padding-bottom: 0;

  @media screen and (min-width: $bp-tablet) {
    padding-bottom: 48px;
  }

  @media screen and (min-width: $bp-desktop) {
    padding-bottom: 96px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      gap: 32px;
    }
  }

  &__title {
    margin-bottom: 8px;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 16px;
    }
  }

  &__subtitle {
    margin-bottom: 24px;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 42px;
    }
  }

  &__form-field {
    margin-bottom: 16px;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 24px;
    }
  }

  &__map {
    flex-shrink: 0;
    // width: 100%;
    height: 100%;
    margin: 0 -24px;
    border: 1px solid var(--color-secondary-dark);
    border-radius: none;

    @media screen and (min-width: $bp-tablet) {
      width: 360px;
      height: 500px;
      margin: auto;
      border-radius: 16px;
    }

    @media screen and (min-width: $bp-desktop) {
      width: 600px;
      height: 595px;
    }
  }

  &__button {
    margin: 0 auto;

    @media screen and (min-width: $bp-tablet) {
      margin: 0 auto 16px;
    }
  }

  &__terms {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: block;
    }
  }
}
