.formats-section {
  &__title {
    margin-bottom: 80px;
  }

  &__slider {
    display: flex;
    align-items: center;
    gap: 28px;
  }

  &__container {
    display: flex;
    // align-items: center;
    flex-direction: column;
    flex-grow: 1;
    gap: 24px;
  }

  &__list {
    display: flex;
    // justify-content: space-between;
    flex-grow: 1;
    // flex-wrap: wrap;
    gap: 20px;
  }

  &__item {
    display: flex;
    flex-grow: 1;

    &:nth-child(2),
    &:last-child {
      display: none;
    }

    @media screen and (min-width: $bp-tablet) {
      &:nth-child(2) {
        display: block;
      }
      &:last-child {
        display: none;
      }

      flex-basis: calc((100% - 40px) / 2);
    }

    @media screen and (min-width: $bp-desktop) {
      &:last-child {
        display: block;
      }
      flex-basis: calc((100% - 40px) / 3);
    }
  }
}
