.header {
    padding-top: 32px;
    /* background-color: lightgray; /* remove */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 32px;
}

.header-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 32px;
}

.header-nav-list {
    display: flex;
    gap: 64px;
    flex-grow: 1;
    justify-content: center;
}