.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 16px 24px;
  background-color: var(--color-primery-light);
  fill: var(--color-primery-dark);
  transform: translateX(100%);
  transition: transform 0.5s;
  z-index: 3;

  &.is-open {
    transform: translateX(0);
  }

  &__btn-close {
    top: 16px;
    right: 24px;
    width: 24px;
    height: 24px;
  }

  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 186px;
    height: 241px;
    background-image: url('../images/decor-bread-menu.webp');
    content: '';
  }

  &__logo {
    width: 72px;
    height: 38px;
    margin-bottom: 32px;
  }

  &__link {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 16px;
    color: var(--color-primery-dark);
  }

  &__link:hover,
  &__link:focus {
    font-weight: 700;
    color: var(--color-brand-normal);
  }
}
