.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  transition:
    opacity 0.3s,
    visibility 0.3s;

  &.is-hidden {
    /* display: none; */
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  position: relative;
  width: 100%;
  max-width: 880px;
  height: 100%;
  max-height: 880px;
  padding: 64px 48px;
  background-color: var(--color-primery-light);
  border-radius: 32px;
  overflow-y: auto;

  @media screen and (min-width: $bp-tablet) {
    padding: 128px;
  }

  &__title {
    margin-bottom: 8px;
  }

  &__btn-close {
    top: 24px;
    right: 24px;
    width: 32px;
    height: 32px;

    @media screen and (min-width: $bp-tablet) {
      top: 40px;
      right: 40px;
    }
  }

  &__subtitle {
    margin-bottom: 48px;

    @media screen and (min-width: $bp-desktop) {
      margin-bottom: 72px;
    }
  }

  &__form-field {
    margin-bottom: 32px;
  }

  &__button {
    display: block;
    margin: 0 auto 24px;
  }
}
