.traditions-section {
  @media screen and (min-width: $bp-tablet) {
    padding-top: 96px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 32px;
  }

  &__content {
    max-width: 710px;
  }

  &__title {
    @media screen and (min-width: $bp-desktop) {
      margin-bottom: 42px;
    }
  }

  &__text {
    &--limited {
      max-width: 340px;
    }
  }

  &__image {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: block;
      border-radius: 233px 233px 0 0;
    }
  }
}
