.button {
  display: block;
  padding: 10px 24px;
  color: var(--color-primery-light);
  font-size: 16px;
  font-weight: 600;
  background-color: var(--color-brand-normal);
  border: 2px solid var(--color-brand-normal);
  border-radius: 8px;
  transition: color 0.3s;

  &:hover {
    color: var(--color-brand-dark);
    background-color: transparent;
  }

  @media screen and (min-width: $bp-tablet) {
    padding: 16px 32px;
  }
}

.btn-close {
  position: absolute;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  stroke: var(--color-primery-dark);
  background-color: transparent;
  border: none;
  /* background-image: url(../images/btn-close-min.svg);
  background-repeat: no-repeat; */
  cursor: pointer;
}
