.carousel-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 44px;
    height: 44px;
    padding: 0;
    fill: var(--color-primery-dark);
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid var(--color-primery-dark);
    cursor: pointer;
}

.carousel-button:hover {
    fill: var(--color-primery-light);
    background-color: var(--color-primery-dark);
}

.carousel-button.flipped {
    transform: rotate(180deg);
}