.chef-card {
  display: flex;
  align-items: flex-start;
  gap: 30px;

  &__photo {
    width: 140px;
    height: 226px;
    border-radius: 2px 2px 2px 116px;
    box-shadow:
      -10px 10px 0 0 var(--color-primery-light),
      -10px 10px 0 1px var(--color-secondary-dark);

    @media screen and (min-width: $bp-desktop) {
      width: 240px;
      height: 390px;
      border-radius: 4px 4px 4px 200px;
      box-shadow:
        -16px 16px 0 0 var(--color-primery-light),
        -16px 16px 0 1px var(--color-secondary-dark);
    }
  }

  &__title {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 600;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 18px;
      font-size: 40px;
    }
  }

  &__text {
    margin-bottom: 16px;
    font-size: 14px;

    &:last-child {
      margin-bottom: 0;
    }

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 24px;
      font-size: $font-size-desktop;
    }
  }
}
