.form-terms {
  font-size: 10px;
  font-weight: 400;
  margin: 0;

  &__link {
    text-decoration: underline;
    text-underline-offset: 2px;
    color: var(--color-primery-dark);
  }

  @media screen and (min-width: $bp-tablet) {
    font-size: 12px;
    font-weight: 500;
  }
}
