.format-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
  height: 444px;
  padding: 24px;
  color: var(--color-primery-light);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 16px;
  transition: transform 0.3s;

  &.walrus {
    background-image:
      var(--bg-image-gradient), url('../images/walrus-format.jpg');
  }

  &.horseshoe {
    background-image:
      var(--bg-image-gradient), url('../images/horseshoe-fomat.jpg');
  }

  &.handlebar {
    background-image:
      var(--bg-image-gradient), url('../images/handlebar-format.jpg');
  }

  &:hover {
    transform: scale(1.05);
  }

  &__title {
    font-size: 24px;
    font-weight: 600;
    /* text-align: center; */
  }

  &__text {
    font-size: 14px;
    font-weight: 300;
    margin: 0;
  }
}
