.format-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 444px;
  padding: 24px;
  color: var(--color-primery-light);
  background-image: var(--bg-image-gradient);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 16px;
  overflow: hidden;

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__title {
    font-size: 20px;
    font-weight: 600;

    @media screen and (min-width: $bp-tablet) {
      font-size: 24px;
    }
  }

  &__text {
    font-size: 14px;
    font-weight: 300;
    margin: 0;
  }
}
