.input {
  position: relative;

  &__lable {
    position: absolute;
    top: 21px;
    left: 42px;
    font-size: 16px;
    line-height: 1.17;
    color: var(--color-secondary-dark);
    transition: transform 0.3s;
    /* display: block; */
  }

  &__control {
    font-family: inherit;
    font-size: 16px;
    font-weight: 300;
    padding: 16px 42px;
    width: 100%;
    color: var(--color-primery-dark);
    background-color: transparent;
    border: 1px solid var(--color-secondary-dark);
    border-radius: 8px;

    &:focus,
    &:hover {
      border-color: var(--color-brand-normal);
      outline: none;
    }

    &::placeholder {
      font-weight: 400;
      line-height: 1.17;
      color: var(--color-secondary-dark);
    }

    &:hover::placeholder {
      color: var(--color-primery-dark);
    }
  }

  &__control:hover + &__lable {
    color: var(--color-primery-dark);
  }

  &:focus-within &__lable {
    transform: translate(-36px, -40px);
  }
}
