*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    color: var(--color-primery-dark);
    background-color: var(--color-primery-light);
    // font-family: 'Poppins', sans-serif;
    font-family: $font-primary;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

address {
    font-style: normal;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

html {
    scroll-behavior: smooth;
}

a {
    display: inline-block;
    text-decoration: none;
}

button {
    font-family: inherit;
    cursor: pointer;
}

input,
textarea {
    font-family: inherit;
}